body {
  background-color: #e7ddf8;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.nav-bar {
  display: flex;
  background-color: #c6adef;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 2rem;
}

div.button {
  width: 30px;
  height: 30px;
  transform: translate(-5%, 40%);
}

#line1 {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #ffffff;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.button.open #line1 {
  transform: rotate(-45deg);
}

#line2 {
  width: 30px;
  height: 5px;
  background: #ffffff;
  transform: rotate(90deg);
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.button.open #line2 {
  transform: rotate(45deg);
}

.form {
  position: fixed;
  z-index: -10;
  right: 0;
  overflow: auto;
  background-color: #c6adef;
  width: 50%;
  height: 50%;
  margin: auto;
  margin-right: 0%;
  justify-content: space-evenly;
  clip-path: circle(50px at 95% -40%);
  transition: all 0.6s cubic-bezier(0.42, 0, 1, 1);
}

.form.open {
  z-index: 100;
  clip-path: circle(1000px at 90% -30%);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 1rem;
}

input[type='text'] {
  line-height: 1.25rem;
  border-radius: 0.5rem;
}

label {
  padding: 1rem 0;
}

#submitButton {
  padding: 0.375em 1.25em;
  border-radius: 0.5rem;
  background: #ffffff;
  font-size: 0.9em;
  text-align: center;
  width: 6em;
}

#library {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(autofill, minmax(50%, 75%));
}

.book {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  border-radius: 8px;
  padding: 1rem 1.5rem;
  margin: 5%;
  background-color: #efaaae;
  position: relative;
  transform: translateY(50%);
  opacity: 0.5;
}

#delete {
  position: absolute;
  width: 16%;
  right: 0;
  top: 0;
  margin: 0.5rem 0.5rem;
  padding: 0.25rem 0;
  border: 2px solid black;
  border-radius: 5px;
  cursor: pointer;;
}

div.book div {
  padding: 1rem 0;
  text-align: center;
  font-size: 1.25rem;
}

div.book #bookName {
  font-size: 1.5rem;
}
