body {
  background-color: #e7ddf8;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 100vw;
  height: 100vh;
}

.nav-bar {
  display: flex;
  background-color: #c6adef;
  height: 7vh;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  font-size: 2rem;
}

div.button {
  width: 30px;
  height: 30px;
  transform: translate(-5%, 40%);
}

#line1 {
  position: absolute;
  width: 30px;
  height: 5px;
  background: #ffffff;
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.button.open #line1 {
  transform: rotate(-45deg);
}

#line2 {
  width: 30px;
  height: 5px;
  background: #ffffff;
  transform: rotate(90deg);
  border-radius: 2px;
  transition: all 0.4s ease-in-out;
}

.button.open #line2 {
  transform: rotate(45deg);
}

form {
  background-color: #c6adef;
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 50vh;
  align-items: center;
  margin: auto;
  margin-right: 0%;
  justify-content: space-evenly;
  clip-path: circle(100px at 95% -40%);
  transition: all 0.6s cubic-bezier(0.42, 0, 1, 1);
}

form.open {
  clip-path: circle(1000px at 90% -30%);
}

.form {
  z-index: 100;
  position: absolute;
  right: 0;
}

input[type='text'] {
  line-height: 1.25rem;
  border-radius: 0.5rem;
}

#submitButton {
  padding: 0.375em 1.25em;
  border-radius: 0.5rem;
  background: #ffffff;
  font-size: 0.9em;
  text-align: center;
  width: 4em;
}

#library {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(autofill, minmax(50%, 75%));
  /* height: 100%; */
}

.book {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 5%;
  margin: 5%;
  background-color: #efaaae;
}
